*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 100%; 
}


h1, h2, h3, h4,h5,p, li{
    font-family: 'lora', "arial";
}
body{
    background-color: #F0F3F5;
}

.header-container{
    min-width: 100vw;
    min-height: 5vh;
    padding: 1rem 2rem;
    background-color:white ;
}
.header-container ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-container li, a {
    list-style: none;
    text-decoration: none;
    padding: 0.3rem;
    font-weight: 700;
    color: rgb(66, 66, 66);
    border-radius: 5px;
}
.header-container li i{
    padding-right: 5px;
}
.header-container li{
    border: 1px solid grey;
}
.header-container li:hover{
    scale: 1.2rem;
}

.header-container li:nth-child(5){
    background-color: red;
    border: none;
}
.header-container li:nth-child(5) a {
    color: white !important;
}
.timeout-message{
    font-size: 0.7rem;
}
.timout-holder{
    text-align: right;
}